.DS_Store
node_modules
/.svelte-kit
/build
/package
**/.env
!.env.public
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.editorconfig
.vscode
.idea
build
package


*.tar.zst
zarf-sbom/


playwright/.auth


supabase/