# PUBLIC DYNAMIC
PUBLIC_SUPABASE_URL=https://supabase-kong.uds.dev
PUBLIC_SUPABASE_ANON_KEY=<anon_key>
PUBLIC_DISABLE_KEYCLOAK=false
PUBLIC_MESSAGE_LENGTH_LIMIT=10000


# PRIVATE DYNAMIC
DEFAULT_TEMPERATURE=0.1
DEFAULT_SYSTEM_PROMPT="You are a helpful AI assistant created by Defense Unicorns."
DEFAULT_MODEL=vllm #for OpenAI it could be: gpt-3.5-turbo
LEAPFROGAI_API_BASE_URL=https://leapfrogai-api.uds.dev #for OpenAI it would be: https://api.openai.com
SUPABASE_AUTH_EXTERNAL_KEYCLOAK_URL=https://sso.uds.dev/realms/uds
#If specified, app will use OpenAI instead of Leapfrog
OPENAI_API_KEY=

# SUPABASE AUTH (when running Supabase Locally)
SUPABASE_AUTH_KEYCLOAK_CLIENT_ID=uds-supabase
SUPABASE_AUTH_KEYCLOAK_SECRET=<secret>

# PLAYWRIGHT
USERNAME=user1@test.com
PASSWORD=<password>
MFA_SECRET=<secret>
# Service Role key comes from Supabase and allows Playwright to bypass row level security for test setup/cleanup. This is only needed for tests.
SERVICE_ROLE_KEY=<key>
