data/*
*.tar.zst
__pycache__
.venv
.ipynb_checkpoints
.vscode/
venv
.DS_Store
dist/

# local model + tokenizer files
*.bin
pytorch_model.bin.index.json
special_tokens_map.json
tokenizer_config.json
tokenizer.json
config.json
generation_config.json
vocabulary.json

# go binaries
api/main