# temporary deployment and development artifacts
.logs/
data/*
**/*.tar.zst
__pycache__
.venv
.ipynb_checkpoints
.vscode/
venv
.DS_Store
dist/
tmp/
temp/
zarf-sbom/
/values.yaml
.pytest_cache
*egg-info
egg-info/
build/
**/*.whl
.model/
*.gguf
.env.password
.env.email
.env
.mypy_cache
.ruff_cache
.branches
.temp
src/leapfrogai_api/config.yaml
.idea/
/.python-version
node_modules
package.json
package-lock.json
**/*.schema.json
output.txt

# local model and tokenizer files
*.bin
pytorch_model.bin.index.json
special_tokens_map.json
tokenizer_config.json
tokenizer.json
config.json
generation_config.json
vocabulary.json
.model/

# go binaries
api/main

# evaluation artifacts
.deepeval-cache.json
