# temporary deployment and development artifacts
data/*
*.tar.zst
__pycache__
.venv
.ipynb_checkpoints
.vscode/
venv
.DS_Store
dist/
tmp/
temp/
zarf-sbom/
/values.yaml
.pytest_cache
*egg-info
build/
*.whl
.model/
*.gguf

# local model and tokenizer files
*.bin
pytorch_model.bin.index.json
special_tokens_map.json
tokenizer_config.json
tokenizer.json
config.json
generation_config.json
vocabulary.json
.model/

# go binaries
api/main
