{
  "enabled": true,
  "forkProcessing": "enabled",
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:base"
  ],
  "timezone": "America/New_York",
  "repositories": ["defenseunicorns/leapfrogai"],
  "rebaseStalePrs": true,
  "dependencyDashboard": true,
  "commitMessageSuffix": "[ci-skip]",
  "platform": "github",
  "onboarding": false,
  "requireConfig": false,
  "dependencyDashboardTitle": "Renovate Dashboard 🤖",
  "rebaseWhen": "conflicted",
  "commitBodyTable": true,
  "ignorePaths": ["archive/**"],
  "suppressNotifications": ["prIgnoreNotification"],
  "helm-values": {
    "fileMatch": ["./.+\\.yaml$"]
  },
  "groupName": "all dependencies",
  "groupSlug": "all",
  "lockFileMaintenance": {
    "enabled": false
  },
  "kubernetes": {
    "fileMatch": ["\\.yaml$"],
    "ignorePaths": [
      "ansible",
      "scripts",
      ".github"
    ]
  },
  "packageRules": [
    {
      "groupName": "all dependencies",
      "groupSlug": "all",
      "matchPackagePatterns": [
        "*"
      ]
    }
  ],
  "separateMajorMinor": false
}
