image:
  repository: "ghcr.io/defenseunicorns/leapfrogai/lfaiui"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: '###ZARF_CONST_IMAGE_VERSION###'

package:
  name: lfaiui
  host: lfaiui
  supabase_url: '###ZARF_VAR_SUPABASE_URL###'
  supabase_anon_key: '###ZARF_VAR_SUPABASE_ANON_KEY###'
  message_length_limit: '###ZARF_VAR_MESSAGE_LENGTH_LIMIT###'
