[project]
name = "lfai-vllm"
version = "0.1.0"
description = "A LeapfrogAI API-compatible VLLM wrapper for quantized and un-quantized model inferencing across GPU infrastructures."

dependencies = [
    "pydantic >= 2.3.0",
    "vllm==0.3.2",
    "python-dotenv>=1.0.1",
    "aiostream>=0.5.2",
    "leapfrogai-sdk == 0.1.0",
]
requires-python = "~=3.11"
readme = "README.md"


[tool.pip-tools]
generate-hashes = true

[tool.setuptools]
packages = ["leapfrogai_sdk"]
package-dir = {"" = "../../src"}

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]

[tool.ruff]
target-version = "py311"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"
