apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: lfai-{{ .Values.nameOverride }}-pv-claim
    namespace: {{ .Release.Namespace | default "leapfrogai" }}
spec:
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass  }}
  {{- end }}
  accessModes:
    - {{ .Values.persistence.accessModes | quote }}
  resources:
    requests:
      storage: {{ .Values.persistence.size | quote }}
