:root {
  --header-height: 3rem;
  --footer-height: 1.5rem;
  --message-input-height: 2.5rem;
  scrollbar-color: themes.$layer-03 themes.$background;
}

.centered-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn-style {
  // remove default button styling
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.assistant-form {
  .container {
    display: flex;
    justify-content: center;
  }
  .inner-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    @include type.type-style('heading-05');
  }

  .cancel-modal {
    :global(.bx--modal-container) {
      position: absolute;
      top: 25%;
    }
  }
}
