image:
  repository: "ghcr.io/defenseunicorns/leapfrogai/vllm"
  tag: "###ZARF_CONST_IMAGE_VERSION###"

gpu:
  runtimeClassName: "###ZARF_VAR_GPU_RUNTIME###"

resources:
  limits:
    nvidia.com/gpu: "###ZARF_VAR_GPU_LIMIT###"

persistence:
  size: "###ZARF_VAR_PVC_SIZE###"
  accessModes: "###ZARF_VAR_PVC_ACCESS_MODE###"
  storageClass: "###ZARF_VAR_PVC_STORAGE_CLASS###"
