image:
  # x-release-please-start-version
  lfaiAPITag: 0.7.2
  # x-release-please-end
  kiwigridTag: 1.23.3

  securityContext:
    runAsUser: 65532
    runAsGroup: 65532
    fsGroup: 65532

supabase:
  url: "###ZARF_VAR_SUPABASE_CLUSTER_URL###"

api:
  replicas: 1
  port: 8080
  exposeOpenAPISchema: false
  defaultEmbeddingsModel: "###ZARF_VAR_DEFAULT_EMBEDDINGS_MODEL###"

  migration:
    namespace: "leapfrogai"
    serviceName: "supabase-postgresql"
    servicePort: "5432"

package:
  host: leapfrogai-api
