apiVersion: batch/v1
kind: Job
metadata:
  name: api-migrations-{{ .Values.image.lfaiAPITag }}
spec:
  template:
    spec:
      containers:
      - name: supabase-cli
        image: "ghcr.io/defenseunicorns/leapfrogai/api-migrations:{{ .Values.image.lfaiAPITag }}"
        env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: supabase-postgresql
                  key: postgres-password
            - name: MIGRATION_NAMESPACE
              value: "{{ .Values.api.migration.namespace }}"
            - name: MIGRATION_SERVICE_NAME
              value: "{{ .Values.api.migration.serviceName }}"
            - name: MIGRATION_SERVICE_PORT
              value: "{{ .Values.api.migration.servicePort }}"

        # NOTE: This command is assuming the default username.
        command: ["/bin/sh"]
        args:
          - -c
          - >-
            supabase migration fetch --db-url="postgresql://postgres:$POSTGRES_PASSWORD@$MIGRATION_SERVICE_NAME.$MIGRATION_NAMESPACE.svc.cluster.local:$MIGRATION_SERVICE_PORT" --debug || true &&
            supabase db push --db-url="postgresql://postgres:$POSTGRES_PASSWORD@$MIGRATION_SERVICE_NAME.$MIGRATION_NAMESPACE.svc.cluster.local:$MIGRATION_SERVICE_PORT" --debug
      restartPolicy: Never
  backoffLimit: 4
