{{- if .Values.api.expose }}
apiVersion: uds.dev/v1alpha1
kind: Package
metadata:
  name: {{ include "chart.fullname" . }}
  namespace: {{ .Release.Namespace | default "leapfrogai" }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  network:
    expose:
      - service: {{ include "chart.fullname" . }}
        podLabels:
          {{- include "chart.selectorLabels" . | nindent 10 }}
        host: {{ include "chart.fullname" . }}
        gateway: tenant
        port: {{ .Values.api.service.port }}

    allow:
      - direction: Ingress
        remoteGenerated: Anywhere

      - direction: Egress
        remoteGenerated: Anywhere

      - direction: Egress
        podLabels:
          {{- include "chart.selectorLabels" . | nindent 10 }}
        remoteGenerated: Anywhere
{{- end }}
