[project]
name = "lfai-repeater"
description = "A LeapfrogAI API-compatible pseudo-model for testing the API."

# x-release-please-start-version
version = "0.13.1"
# x-release-please-end

dependencies = ["leapfrogai-sdk"]
requires-python = "~=3.11"
readme = "README.md"

[tool.pip-tools]
generate-hashes = true

[tool.setuptools]
packages = ["leapfrogai_sdk"]
package-dir = { "" = "../../src" }

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]

[tool.ruff]
target-version = "py311"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"
